{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="/trashbin.css">
<link rel="stylesheet" href="/modal.css">
<link rel="stylesheet" href="/main.css">
{% endblock %}

{% block title %}
메인
{% endblock %}
    
{% block content %}
<h1>가로 쓰레기통 찾기</h1>
<div id="search-trashbin">
    <form id="search-form">
        <input type="text" placeholder="검색" id="trashbin-name" name="name">
        <button type="submit">검색</button>
    </form>
</div>
<div id="trash-bin-list">

</div>

<button id="prev">이전</button>
<button id="next">다음</button>

<!-- 모달 HTML -->
<div id="modal" class="modal">
    <div class="modal-content">
    </div>
</div>

{% endblock %}

{% block script %}
<script src="/js/main.js" type="module"></script>
{% endblock %}